.mixin.out
backups
crash-reports
downloads
journeymap
local
logs
mods
mods-resourcepacks
prestige
resourcepacks
saves
shaderpacks
stall-reports
tmp
.curseclient
*.log
icon.png
journeymapdefaults.firstrun
knownkeys.txt
minecraftinstance.json
OpenComputersMod-1.7.2.67-lua52-native.64.dll
OpenComputersMod-1.7.2.67-lua53-native.64.dll
options.txt
optionsof.txt
optionsshaders.txt
usercache.json
usernamecache.json